nav.sider
    ul.inner-menu
        li
            a(href=`/${pathAdmin}/dashboard`) <i class="fa-solid fa-gauge-high"></i> Tổng quan
        li
            a(href=`/${pathAdmin}/category/list`) <i class="fa-solid fa-table"></i> Quản lí danh mục
        li
            a(href=`/${pathAdmin}/tours/list`) <i class="fa-solid fa-table-list"></i> Quản lý tour
        li
            a(href=`/${pathAdmin}/oder/list`) <i class="fa-solid fa-list"></i> Quản lý đơn hàng
        li
            a(href=`/${pathAdmin}/user/list`) <i class="fa-solid fa-user"></i> Quản lý người dùng
        li
            a(href=`/${pathAdmin}/contact/list`) <i class="fa-solid fa-user-group"></i> Thông tin liên hệ
    hr
    ul.inner-menu
        li
            a(href=`/${pathAdmin}/setting/list`) <i class="fa-solid fa-gear"></i> Cài đặt chung
        li
            a(href=`/${pathAdmin}/user/edit`) <i class="fa-solid fa-user"></i> Thông tin cá nhân
        li
            a(href="javascripts:;" class="inner-logout") <i class="fa-regular fa-circle"></i> Đăng xuất
.sider-overlay